@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #6c4e31;
  --secondary-color: #ffeac5;
  --background-color: #603f26;
  --text-color: #ffdbb5;
}

body.dark-mode {
  --primary-color: #ffeac5;
  --secondary-color: #6c4e31;
  --background-color: #ffdbb5;
  --text-color: #603f26;
}

* {
  margin: 0px;
  padding: 0px;
  border-style: none;
  box-sizing: border-box;
}

body {
  font-family: Poppins, Georgia;
  background: linear-gradient(to bottom, #100c10 25%, #ffdbb5 100%);
  width: 100%;
  transition: all 0.3s ease-in-out;
}

body.dark-mode {
  background: linear-gradient(to bottom, #100c10 25%, #6c4e31 100%);
}

.bars {
  dispaly : none;
}

.navmobile {
  background: var(--secondary-color);
  height: 100%;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 0px;
  right: -100%;
  padding-top: 100px;
  transition: all 0.3s ease-in-out;
}

.navmobile ul {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 25px;
  padding-top: 20px;
}

.closenav {
  font-size: 34px;
  color: var(--primary-color);
  cursor: pointer;
  margin-left: 10px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--secondary-color);
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
  height: 10%;
}

.active {
  background-color: var(--primary-color);
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 18px;
}

#caracter {
  background: var(--background-color);
  padding: 2px 15px;
  font-size: 32px;
  font-weight: bolder;
  border-radius: 12px;
  color: var(--text-color);
}

header ul {
  display: flex;
  margin-right: 25px;
}

#str {
  font-size: 36px;
  font-weight: bold;
  color: var(--primary-color);
}

#str:hover {
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

header ul li,
.navmobile ul li {
  margin-right: 15px;
  display: block;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

header ul li:hover {
  transform: scale(1.1);
  transition: all 0.15s ease-in;
}

a:hover {
  color: var(--text-color);
  background-color: var(--primary-color);
  cursor: pointer;
}

.utils {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-right: 30px;
  gap: 20px;
}

.toggle,
.bars {
  font-size: 24px;
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.toggle:hover {
  transform: scale(1.2);
}



.scrollbtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

#scrollbtn {
  background: var(--text-color);
  color: var(--background-color);
  font-size: 18px;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0 0 5px var(--background-color);
  cursor: pointer;
}

#scrollbtn:hover {
  transform: scale(1.07);
  transition: all 0.5 ease-in-out;
}

#scrollbtn:active {
  transform: scale(0.98);
  transition: all 0.5 ease;
}

.main {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/img/coffeeshop-bg.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.main p {
  color: #e4e4e4;
  margin-bottom: 40px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}

span {
  display: block;
  width: 80%;
  color: #d2d2d2;
  font-size: 18px;
}

.txt {
  margin-top: 150px;
  margin-left: 50px;
}

#mainbtn {
  margin: 30px 50px;
  width: 100%;
  padding: 12px 25px;
  border: none;
  border-radius: 24px;
  font-size: 18px;
  font-weight: 600;
  background: var(--background-color);
  color: var(--text-color);
}

#mainbtn:hover {
  transform: scale(1.1);
  transition: all 0.8 ease-in;
}

#mainbtn:active {
  transform: scale(0.98);
  transition: all 0.8 ease-in-out;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-items {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menu h2 {
  font-size: 48px;
  font-weight: bold;
  color: transparent; /* No fill color */
  -webkit-text-stroke: 2px var(--primary-color); /* Outline thickness + color */
  text-transform: uppercase;
  letter-spacing: 4px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin: 8px;
  padding: 10px;
  border-radius: 20px;
  color: #e4e4e4;
  height: 300px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: scale(1.03);
  transition: all 0.2s ease-in;
  cursor: pointer;
  color: #e4e4e4;
}

.card:active {
  transform: scale(0.98);
  transition: all 0.1s ease-in;
}

#espresso {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    /* dark overlay */ url("/img/menu/Espresso.png");
  background-size: cover;
  background-position: center;
}

#espresso:hover {
  cursor: pointer;
  background: linear-gradient(rgb(96, 63, 38, 0.6), rgb(96, 63, 38, 0.6)),
    /* dark overlay */ url("/img/menu/Espresso.png");
  background-size: cover;
  background-position: center;
}

#cappuccino {
  background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    /* dark overlay */ url("/img/menu/Cappuccino.png");
  background-size: cover;
  background-position: center;
}

#cappuccino:hover {
  cursor: pointer;
  background: linear-gradient(rgb(96, 63, 38, 0.6), rgb(96, 63, 38, 0.6)),
    /* dark overlay */ url("/img/menu/Cappuccino.png");
  background-size: cover;
  background-position: center;
}

#latte {
  background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    /* dark overlay */ url("/img/menu/Latte.png");
  background-size: cover;
  background-position: center;
}

#latte:hover {
  cursor: pointer;
  background: linear-gradient(rgb(96, 63, 38, 0.6), rgb(96, 63, 38, 0.6)),
    /* dark overlay */ url("/img/menu/Latte.png");
  background-size: cover;
  background-position: center;
}

#tea {
  background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    /* dark overlay */ url("/img/menu/Tea.png");
  background-size: cover;
  background-position: center;
}

#tea:hover {
  cursor: pointer;
  background: linear-gradient(rgb(96, 63, 38, 0.6), rgb(96, 63, 38, 0.6)),
    /* dark overlay */ url("/img/menu/Tea.png");
  background-size: cover;
  background-position: center;
}

.about {
  margin: 80px;
  background-color: #ffeac588;
  height: 300px;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.abouttxt {
  width: 90%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.abouttxt h2 {
  font-size: 26px;
  margin-bottom: 25px;
}

.abouttxt small {
  width: 70%;
}

#coffeecup {
  margin-right: 60px;
  width: 250px;
  height: 250px;
  border-radius: 28px;
  filter: drop-shadow(O, O, var(--secondary-color));
}

.contact {
  background: var(--background-color);
  padding: 20px 40px;
  border-radius: 25px;
  margin: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.contact .infocard {
  background: var(--primary-color);
  color: var(--text-color);
  margin: 8px;
  padding: 10px 40px 10px 10px;
  border-left: solid 6px var(--secondary-color);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.contactinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contactinfo h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.contactinfo p {
  font-size: 18px;
  margin-bottom: 10px;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 12px 15px;
  border-radius: 24px;
  font-size: 16px;
  background: var(--primary-color);
  color: var(--text-color);
}

input::placeholder {
  color: var(--text-color);
}

textarea {
  padding: 12px 15px;
  border-radius: 24px;
  font-size: 16px;
  background: var(--primary-color);
  color: var(--text-color);
  resize: none;
  height: 120px;
}

textarea::placeholder {
  color: var(--text-color);
}

#submitbtn {
  width: 50%;
  margin: auto;
  padding: 12px 25px;
  border: none;
  border-radius: 24px;
  font-size: 18px;
  font-weight: 600;
  background: var(--secondary-color);
  color: var(--primary-color);
}
#submitbtn:hover {
  transform: scale(1.1);
  transition: all 0.8 ease-in;
}

#submitbtn:active {
  transform: scale(0.98);
  transition: all 0.8 ease-in-out;
}

footer {
  background: var(--text-color);
  margin-top: 120px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -3px 10px #603f26aa;
}

footer p {
  font-size: 16px;
  color: var(--primary-color);
}

@media (max-width: 900px) {
  .main {
    align-items: center;
  }

  .txt {
    width: 65%;
    margin-left: 0;
  }

  .main span {
    width: 100%;
    margin-bottom: 30px;
  }

  #mainbtn {
    margin: 0 0 30px 0;
    padding: 12px 50px;
  }
}

@media (max-width: 860px) {
  .about {
    flex-direction: column;
    height: 100%;
  }

  .abouttxt {
    width: 80%;
    margin: 20px 10px;
    align-items: center;
  }

  .abouttxt small {
    width: 100%;
  }

  #coffeecup {
    margin: 0 0 25px 0;
  }

  .contact {
    flex-direction: column;
    height: 100%;
  }

  form {
    width: 90%;
    margin: 20px 0;
  }

  .contactinfo {
    align-items: center;
    width: 100%;
  }

  .contact .infocard {
    width: 80%;
    margin: 10px 0;
  }
}

@media (max-width: 700px) {
  header ul {
    display: none;
  }
}

@media (max-width: 650px) {
  .menu-items {
    flex-direction: column;
  }

  .main p {
    font-size: 28px;
  }

  .main span {
    font-size: 16px;
  }

  .card {
    width: 95%;
    height: 220px;
  }

  .about h2 {
    font-size: 22px;
  }

  #str {
    font-size: 28px;
  }

  #caracter {
    font-size: 24px;
    padding: 2px 12px;
  }
}

@media (max-width: 450px) {
  .utils {
    gap: 10px;
    margin-right: 10px;
  }

  .about h2 {
    font-size: 16px;
  }

  .abouttxt small {
    font-size: 12px;
  }

  input,
  textarea,
  #submitbtn,
  .contactinfo p {
    font-size: 10px;
  }

  .contactinfo h3 {
    margin-bottom: 5px;
    font-size: 12px;
  }

  #scrollbtn {
    font-size: 12px;
    padding: 10px;
  }

  footer p {
    font-size: 12px;
  }
}
